# TikTok OAuth Credentials
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=

# Other Platform Credentials
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
WHATSAPP_CLIENT_ID=
WHATSAPP_CLIENT_SECRET=

# App URL Override (Optional)
APP_URL=
